/*Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-color: #000000;
}

.navbar {
  
  background-color: #1f1e1e;
  padding: 20px 30px;
  color: white;
  display: flex;
}

.sham-text {
  font-size: 15px;
  right: 30px;
  top: 25px;
  font-weight: 400;
  position: absolute;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}
/* For Webkit browsers like Chrome and Safari */

/* Track */
::-webkit-scrollbar {
  width: 8px; /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #3e3636; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle when it's grabbing (clicked and being dragged) */
::-webkit-scrollbar-thumb:active {
  background-color: #555; /* Color of the scrollbar handle when clicked */
}
