.navbar-main{
    padding-top: 30px;
}

.navbar-first {
    background-color: #3E3636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    padding-right: 100px;
    padding-left: 50px;
    
  }
  
 
  
  .navbar-second{
    font-size: 20px;
    font-family: Courier;
    
    
  }
  
  .navbar-line {
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 10;
   
    
    
  }
  
  .navbar-third{
    padding-left: 10px;
  }


 
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
  }
  
  .menu-icon span {
    width: 90%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-icon span:not(:last-child) {
    margin-bottom: 4px;
  }
  
  .menu-icon.open span:first-child {
    transform: translateY(6px) rotate(45deg);
  }
  
  .menu-icon.open span:last-child {
    transform: translateY(-6px) rotate(-45deg);
  }
  
  